%hr.show-for-small-only
%h3.subheader About Us
%p We want to be special, different, and to offer a retail experience unlike any other.  Our blog is a place to share more about the way that we do business.
%hr
%h3.subheader Our Values
%ul
  %li Putting our Employees first
  %li Our Foundation Principles
  %li Commitment to our Communities
  %li Vendor Partnerships
  %li Commitment to the Environment
  %li Conscious Capitalism
  %li Shop