:javascript
  var idcomments_acct = '1aed97c2dbec92368b3faa5db07d8e11';
  var idcomments_post_id;
  var idcomments_post_url;

%span#IDCommentsPostTitle{style: "display:none"}
=javascript_include_tag 'http://www.intensedebate.com/js/genericCommentWrapperV2.js'