.row
  .small-12.medium-8.columns
    = render 'main', blog: @main_entry, chars: 400
  .medium-4.small-12.columns
    = render 'application/about_us'
.row
  %hr
- @documents.each_slice(3) do |row|
  .row
    - row.each do |entry|
      .small-12.medium-4.columns
        = render 'small', blog: entry, chars: 100